* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

:root {
  --header-bg: #F0141E;
  --placeholder: #f7f7f7;
  --placeholder-focus: #64ff61;
  --title: #D4D4D4;
  --description: #D2D2D2;
  --heart-bg: #EB1E01;
  --button-bg: #f1333d;
  --button-bg-hover: #F0141E;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%
  }
}

@media (min-width: 1080px) {
  body::-webkit-scrollbar {
    width: 18px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(77, 77, 77);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(43, 43, 43);  /* creates padding around scroll thumb */
  }
}
body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;

  background-color: rgb(32, 32, 32)
  
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
